@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Lato");
$montserrat: "Montserrat", sans-serif;
$lato: "Lato", sans-serif;

$dc-form-border-color: #eaebf0;
$dc-label-color: #707070;
$dc-input-color: #2b2b2b;
$dc-input-disabled-color: #f6f7f8;
$dc-input-border-color: #e0e7ff;

$dc-error-bg-color: #fff6f4;
$dc-error-border-color: #e57373;

$dc-actions-bg: #fafafa;
$dc-svg: #8798ad;
$dc-upload: #3560ff;
